# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Django local files
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log